 @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Caveat&family=Covered+By+Your+Grace&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    font-family: 'Aboreto', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Covered By Your Grace', cursive;
    
}
.body{
    background-color: black;
    background-image: url(./Santo.png);
}
a, li{
    font-family:'Aboreto', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Covered By Your Grace', cursive;

    color: #222;
}
 .logo-header img{
    width: 110px;
 }
 header{
    background-color: rgb(242, 174, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: 'Aboreto', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Covered By Your Grace', cursive;

 }
 .banner{
    height: calc(108vh - 50px);
    background-image: url(./banner.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
}
.contenido{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(203, 110, 23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 33px;
}
.contenido h1{
   margin: 20px;
}
.contenido p{
    margin: 20px;
    color: #222;
}
.contenido .button{
    text-decoration: none;
    color: #222;
    padding: 9px 20px;
    text-transform: uppercase;
    border: 2px solid #222;
    transition: all 0.3s ease-in-out;
    width: 105px;
}
.contenido .button:hover{
    background-color:rgb(230, 225, 225) ;
}
 .texto{
    color: #222;
    font-size: 40px;
    font-family:cursive;
 }
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 2rem;
    font-size: 25px;
}
.nav-menu a:hover{
    color: rgb(51, 91, 77);
}
.nav-menu li:last-child{
    background-color: rgb(94, 118, 110);
    border: rgb(51, 91, 77);
    padding: 0.25rem 0.75rem;
    border-radius: 0.2rem;
    
}
.nav-menu li:last-child:hover{
    background: transparent;
    border: 2px solid rgb(69, 85, 80);
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}
.tar{
    text-align: center;
    align-content:center;
    align-items:center;
    justify-content: center;
    max-width: 1;
    margin:auto;
    display:flex;
    margin-top: 30px; 
    gap:initial ;
  }

.card{
    width: 1500px;
    height: 400px;
    background: rgb(222, 217, 217);
    margin: 5px;
    border: black 2px solid;
    border-radius: 10px;
    font-size: 35px;
} .card img{
    width: 90%;
}
.button-card{
    text-decoration:none;
    display:flex;
    padding: 1px;
    margin-top: 0;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size:medium;
}
.button-card:hover{
    background:#2fb4cc ;
    color: #fff;

}

@media (max-width:768px){
    .checkbtn{
        display: block;
    }
.menu-icon{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.nav-menu ul{
    display: block;
    position: fixed;
    top:70px;
    left: -100%;
    background: rgb(221, 153, 58);
    width: 100%;
    height: 100vh;
    right: 0;

}
.nav-menu ul li{
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
}
.nav-menu ul li:last-child{
    background: none;
    padding: 1rem;
}
#check:checked ~ ul{
    left: 0;
    transition: all 0.25s;

}
.card{
    width: 400px;
    height: 200px;
    background: rgb(222, 217, 217);
    margin: 0.7px;
    border: black 2px solid;
    border-radius: 10px;
    font-size:13px;

}
}
 